[submodule "slupsk-tool"]
	path = slupsk-tool
	url = https://github.com/MartinPontius/slupsk-tool.git
	branch = develop
[submodule "tulcea-tool"]
	path = tulcea-tool
	url = https://github.com/MartinPontius/tulcea-tool.git
	branch = master
