[submodule "slupsk-tool"]
	path = slupsk-tool
	url = https://github.com/52North/slupsk-tool.git
	branch = master
[submodule "tulcea-tool"]
	path = tulcea-tool
	url = https://github.com/52North/tulcea-tool.git
	branch = master
