www.creatinginterfaces.demo.52north.org creatinginterfaces.demo.52north.org {

    bind 0.0.0.0

    proxy /slupsk-tool/ slupsk-tool:80 {
        transparent
    }

    proxy /tulcea-tool/ tulcea-tool:80 {
        transparent
    }

}



